@charset "UTF-8";
@import url(./reset.css);
@font-face {
    font-family: 'NanumBareunGothicOldHangeul';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicYetHangul/NanumBarunGothic-YetHangul.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicYetHangul/NanumBarunGothic-YetHangul.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicYetHangul/NanumBarunGothic-YetHangul.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicYetHangul/NanumBarunGothic-YetHangul.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicYetHangul/NanumBarunGothic-YetHangul.ttf) format("truetype");
}
body{
    font-size:12px; font-family:'NanumBareunGothicOldHangeul', '맑은 고딕', sans-serif;
    color:#333; background:#aeec1c;
}
.header{width:100%; height:100px; position:relative;}
h1{
    text-indent:-9999px; width:300px; height:auto;
    background:url('../images/SVG/logo_menu.svg') no-repeat center/contain;
    position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
}
h3{
    width:80%; text-align:center; padding-bottom:14px;
    font-size:32px; font-weight:bold; color:#ff6600; border-bottom:1px solid #ff6600;
}
.set{width:100%; height:auto;}
.innerbox{
    width:90%; background:#fff; border-radius:40px; margin:0 auto; padding:50px 0px;
    display:flex; flex-direction:column; justify-content:center; align-items:center;
    gap:20px; margin-bottom:50px;
}
#set{width:300px; height:auto; margin:0 auto;}
ul{
    display:flex; justify-content:center; align-items:center; gap:20px;
    flex-wrap:wrap;
}
section:not(.set) li{
    width:auto; height:170px;
    display:flex; flex-direction:column; justify-content:flex-end;
    align-items:center;
}
.name{text-align:center; margin-top:20px;}
span{font-size:16px;}
img{margin:0 auto;}
.wrap{width:90%;}
.window li, .etc li{height:220px !important;}
.buttons{
    margin:0 auto; padding:0 30px; margin-bottom:20px;
    display:flex; justify-content:center; align-items:center; gap:10px;
    flex-wrap:wrap;
}
button{
    display:block; width:100px; height:40px; border-radius:20px;
    border:1px solid #f60; background:#fff; font-size:14px;
    font-weight:bold;
}
section{display:none;}
section.active{display:block;}